@import 'partials/setup';
@import 'partials/variables';
@import 'partials/_mixins';
@import 'components/header';
@import 'components/portfolio';
@import 'components/about';
@import 'components/contact';
@import 'components/footer';

// * {
// 	outline: 1px solid red;
// }

html {
	font-size: 10px;
	font-size: 62.5%;
}

body {
	font-family: $basefont;
	color: $primary;
	font-size: $fontSize;
}

img {
	max-width: 100%;
	display: block;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $basefont;
}

.headerNav a:visited {
	text-decoration: none;
	
}

.headerNav a {
	color: dodgerblue;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
	padding: 30px 0;
}

h2:after {
	margin-top: 10px;
	border-bottom: 1px solid $primary;
	content: '';
	display: block;
	width: 100%;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
	margin: 15px 0;
}

h5 {
	font-size: 1.8rem;
}

.wrapper {
	max-width: 1000px;
	max-width: 85%;
	margin: 0 auto;
}

/* MEDIA QUERIES */


@media (max-width: 1100px) {

	.contactDetails {
		width: 30%;
	}
	.contactImage1 {
		width: 13%;
	}

	.footerText, .detail, .copyright {
		font-size: 1.5rem;
	}
}

/* Portrait tablet and small desktops */

@media (max-width: 940px) {
	.iconGallery {
		i {
			margin: 15px 25px;
		}
	}
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	.portfolioGallery{
		.app1{
			order: -1;
		}
		.app2{
			order: 0;
		}
		.app3{
			order: 2;
		}
		.app4{
			order: 1;
		}
		.app5{
			order: 3;
		}
		.app6{
			order: 4;
		}
		.app7{
			order: 6;
		}
		.app8{
			order: 5;
		}
		.appImage{
			width: 80%;
		}
	}
	.appText {
		width: 70%;
	}
	
	.meStuff {
		flex-direction: column;
	}

	.me {
		width: 100%;
		margin: 0 20px;
		p {
			font-size: 1.4rem;
		}
	}
	
	.aboutPoints {
		width: 100%;
		margin: 20px;
		p {
			font-size: 1.4rem;
		}
	}

	.iconGallery {
		max-width: 100%;
	}

	// .map {
	// 	width: 0%;
	// }
	.contact {
		max-width: 95%;
	}

	.contactDetails {
		width: 90%;
		@include flex;
		h3 {
			display: none;
		}
		.location, .email {
			margin: 0 15px;
		}
	}
	

	.contactImage1 {
		display: none;
	}
	.footerText {
		width: 80%;
	}
}

/* Portrait phones and down */

@media (max-width: 480px) {
	.wrapper {
		max-width: 90%;
	}

	.headerTop {
		@include flexCol;

	}

	.headerTop nav ul {
		justify-content: space-around;
		li {
			margin: 10px 15px;

		}
	}

	.headerText {
		align-items: center;
	}

	.appText {
		width: 90%;
	}

	.locEmail {
		@include flex;
	}

	footer {
		nav ul {
			li {
				margin: 8px;
			}
		}
	}
	.footerText {
		text-align: left;
		font-size: 1.2rem;
	}

	.detail,
	.copyright {
		font-size: 1.2rem;
		text-align: center;
	}
}

/* Tiny phones */

@media (max-width: 424px) {
	.headerText {
		h1, p {
			text-align: center;
		}
		span {
			display: block;
		}
	}
}
