@import 'partials/setup';
@import 'partials/variables';
@import 'partials/_mixins';
@import 'components/header';
@import 'components/portfolio';
@import 'components/about';
@import 'components/contact';
@import 'components/footer';

// * {
// 	outline: 1px solid red;
// }

html {
	font-size: 10px;
	font-size: 62.5%;
}

body {
	font-family: $basefont;
	color: $primary;
	font-size: $fontSize;
}

img {
	max-width: 100%;
	display: block;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $basefont;
}

.headerNav a:visited {
	text-decoration: none;
	
}

.headerNav a {
	color: dodgerblue;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
	padding: 30px 0;
}

h2:after {
	margin-top: 10px;
	border-bottom: 1px solid $primary;
	content: '';
	display: block;
	width: 100%;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
	margin: 15px 0;
}

h5 {
	font-size: 1.8rem;
}

.wrapper {
	max-width: 1000px;
	max-width: 85%;
	margin: 0 auto;
}

/* MEDIA QUERIES */

/* Portrait tablet and small desktops */

@media (max-width: 940px) {

}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	
}

/* Portrait phones and down */

@media (max-width: 480px) {

}

/* Tiny phones */

@media (max-width: 320px) {
	
}
