// typography
// font
$basefont: 'PT Mono',
monospace;
// CHANGE THIS TO THE MOST COMMON FONT SIZE
$fontSize: 1.6rem;
// font colours
$primary: #271818;
$secondary: #8d8989;
$tertiary : #025f53;
$quaternary: #403a3a;
// other colours
$accent1: #f0e7de;
$accent2: #fef794;
$accent3: #d8edf0;
$accent4: #CCDDEF;

// $accent1: #e1f7fa;
// $accent2: #fef794;
// $accent3: #d8edf0;
// $accent4: #ddecef;
