article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

header {
  background-image: url("../../../assets/torontoMap.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; }

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px; }
  .headerTop img {
    width: 150px;
    margin: 20px 0 15px 0; }

.headerTop nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .headerTop nav ul li {
    margin: 10px 0px 10px 30px;
    border: 1px solid transparent; }
    .headerTop nav ul li:hover,
    .headerTop nav ul li:focus .headerTop nav ul li:active {
      border-top: 1px solid #271818;
      content: '';
      display: block; }
    .headerTop nav ul li a {
      border: 1px solid none; }

.headerText {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .headerText h3 {
    padding: 100px 0 5px 0;
    color: #8d8989; }
  .headerText h1 {
    padding: 15px 0 20px 0; }
  .headerText p {
    padding: 12px 0;
    color: #8d8989; }
  .headerText span {
    display: inline-block; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0; }

.portfolioGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .portfolioGallery .appImage {
    margin: 30px;
    display: block;
    width: 40%; }

.appText {
  min-height: 400px;
  margin: 30px 10px;
  width: 46%;
  background-color: rgba(216, 237, 240, 0.425);
  border: 1px solid #025f53;
  padding: 40px 30px; }
  .appText h3 {
    margin-top: 10px; }
  .appText h3:after {
    margin-top: 10px;
    border-bottom: 1px solid #271818;
    content: '';
    display: block;
    width: 50%; }
  .appText .appDesc {
    margin-top: 30px;
    color: #8d8989;
    line-height: 1.5; }
  .appText .appSkills {
    margin: 30px 0 15px;
    color: #025f53; }
  .appText .portfolioLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .appText .portfolioLinks p {
      padding: 8px;
      width: auto;
      background-color: #403a3a;
      border-radius: 5px;
      margin-right: 15px; }
      .appText .portfolioLinks p a {
        color: #f0e7de; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin-bottom: 30px; }
  .skills h4 {
    margin: 50px 0 30px; }

.iconGallery {
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px; }
  .iconGallery i {
    font-size: 60px;
    color: #025f53;
    margin: 10px 25px; }

.meStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.me {
  width: 60%;
  margin: 0 20px;
  padding: 20px;
  line-height: 1.5;
  background-color: rgba(204, 221, 239, 0.425); }
  .me p {
    margin-bottom: 20px;
    color: #403a3a; }

.aboutPoints {
  padding: 20px;
  width: 30%;
  margin: 0 20px;
  background-color: rgba(216, 237, 240, 0.425);
  color: #403a3a; }
  .aboutPoints p {
    margin: 15px 0;
    color: #8d8989; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }

.map {
  background-image: url("../../../assets/torontoMap2.png");
  background-size: cover;
  background-position: center;
  width: 57%; }

.contactDetails {
  width: 22.5%;
  padding: 42px 40px; }
  .contactDetails h3 {
    margin-bottom: 24px; }
  .contactDetails h3:after {
    margin-top: 10px;
    border-bottom: 1px solid #271818;
    content: '';
    display: block;
    width: 50%; }
  .contactDetails p a {
    color: dodgerblue; }

.contactImage1 {
  background-color: #CCDDEF;
  width: 20.5%; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px; }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 25px; }
    footer nav ul li {
      margin: 25px; }
  footer img {
    margin: 40px 0;
    width: 150px; }
  footer p {
    margin: 15px 0 10px;
    line-height: 1.5;
    color: #403a3a; }
  footer a {
    border: 1px solid #025f53;
    color: #025f53;
    padding: 8px; }

.footerText {
  width: 65%;
  margin-bottom: 20px; }

html {
  font-size: 10px;
  font-size: 62.5%; }

body {
  font-family: "PT Mono", monospace;
  color: #271818;
  font-size: 1.6rem; }

img {
  max-width: 100%;
  display: block; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: "PT Mono", monospace; }

.headerNav a:visited {
  text-decoration: none; }

.headerNav a {
  color: dodgerblue; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  padding: 30px 0; }

h2:after {
  margin-top: 10px;
  border-bottom: 1px solid #271818;
  content: '';
  display: block;
  width: 100%; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem;
  margin: 15px 0; }

h5 {
  font-size: 1.8rem; }

.wrapper {
  max-width: 1000px;
  max-width: 85%;
  margin: 0 auto; }

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .contactDetails {
    width: 30%; }
  .contactImage1 {
    width: 13%; }
  .footerText, .detail, .copyright {
    font-size: 1.5rem; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .iconGallery i {
    margin: 15px 25px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .portfolioGallery .app1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .portfolioGallery .app2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .portfolioGallery .app3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .portfolioGallery .app4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .portfolioGallery .app5 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .portfolioGallery .app6 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .portfolioGallery .app7 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .portfolioGallery .app8 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .portfolioGallery .appImage {
    width: 80%; }
  .appText {
    width: 70%; }
  .meStuff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .me {
    width: 95%;
    margin: 0px 2.5% 20px; }
    .me p {
      font-size: 1.4rem; }
  .aboutPoints {
    width: 95%;
    margin: 0 2.5%; }
    .aboutPoints p {
      font-size: 1.4rem; }
  .iconGallery {
    max-width: 100%; }
  .contact {
    max-width: 95%; }
  .contactDetails {
    border: 1px solid #025f53;
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contactDetails h3 {
      padding: 0 20px; }
    .contactDetails span {
      display: block; }
    .contactDetails .location, .contactDetails .email {
      margin: 0 20px; }
  .contactImage1 {
    display: none; }
  .footerText {
    width: 80%; } }

/* Portrait phones and down */
@media (max-width: 480px) {
  .wrapper {
    max-width: 90%; }
  .headerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .headerTop nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .headerTop nav ul li {
      margin: 10px 15px; }
  .headerText {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .appText {
    width: 90%; }
  .contactDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contactDetails h3 {
      margin: none; }
  footer nav ul li {
    margin: 8px; }
  .footerText {
    text-align: left;
    font-size: 1.2rem; }
  .detail,
  .copyright {
    font-size: 1.2rem;
    text-align: center; } }

/* Tiny phones */
@media (max-width: 424px) {
  .headerText h1, .headerText p {
    text-align: center; }
  .headerText span {
    display: block; } }
