.about {
    @include flexCol;
    margin: 30px 0;
}

.skills {
    @include flexCol;
    max-width: 80%;
    margin-bottom: 30px;
    h4 {
        margin: 50px auto;
    }
}

.iconGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    i {
        font-size: 100px;
        color: $tertiary;
        margin: 10px 25px;
    }
    img {
        width: 150px;
        margin: 10px 25px;
    }
}

.meStuff {
    display: flex;
}

.me {
    margin: 0 30px 0 0;
    line-height: 1.5;
    p {
        margin-bottom: 20px;
        color: $quaternary;
    }
}

.aboutPoints {
    margin: 0 20px;
    color: $quaternary;
    p {
    margin: 15px 0;
    color: $secondary;
    }
}


