footer {
    @include flexCol;
    nav  ul{
        @include flex;
        justify-content: space-around;
        margin-top: 25px;
        li {
            margin: 25px;
        }
    }
    img {
        margin: 40px 0;
        width: 150px;
    }
    p {
        margin: 15px 0 10px;
        line-height: 1.5;
        color: $quaternary;
    }
    a {
        border: 1px solid $tertiary;
        color: $tertiary;
        padding: 8px;
    }
}

.footerText {
    width: 65%;
    margin-bottom: 20px;
}


