header {
    background-image: url("../../../assets/torontoMap.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headerTop {
    @include flex;
    justify-content: space-between;
    padding-bottom: 10px;
    img {
        width: 150px;
        margin: 20px 0 15px 0;
    }
}
.headerTop nav ul {
    @include flex;
    // border: 1px solid red;
    li {
        margin: 10px 0px 10px 30px;
        border: 1px solid transparent;
        @include hover {
            border-top: 1px solid $primary;
            content: '';
            display: block;
        }
        a {
            border: 1px solid none;
        }
    }
}

// .home {
//     display: none;
// }

.headerText {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    h3 {
        padding: 100px 0 5px 0;
        color: $secondary;
    }
    h1 {
        padding: 15px 0 20px 0;
    }
    p {
        padding: 12px 0;
        color: $secondary;
    }
    span {
        display: inline-block;
    }
}