.portfolio {
    @include flexCol;
    margin: 30px 0;
}    

.portfolioGallery {
    @include flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


.appText {
    min-height: 400px;
    margin: 30px 10px;
    width: 40%;
    background-color: rgba(240, 231, 222, 0.425);
    border: 1px solid $tertiary;
    padding: 30px 40px;
    h3 {
        margin-top: 10px;
    }
    h3:after {
        margin-top: 10px;
        border-bottom: 1px solid $primary;
        content: '';
        display: block;
        width: 50%;
    }
    .appDesc {
        margin-top: 30px;
        color: $secondary;
        line-height: 1.5;
    }
    .appSkills {
        margin: 30px 0 15px;
        color: $tertiary;
    }
    .portfolioLinks  {
        display: flex;
        p {
            padding: 8px;
            width: auto;
            background-color: $quaternary;
            border-radius: 5px;
            margin-right: 15px;
            a {
                color:$accent1;
            }
        }
    }
}